<div class="signup-form">	
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
		<h2>Login</h2>
      
        <div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
				<input type="email" class="form-control" name="email" placeholder="Email Address" required ngModel email #email="ngModel">
				<div *ngIf="!email.valid && email.touched">
					<p  class="small error-msg text-center" *ngIf="email.errors.required">
					  required
				  </p>
				  <p  class="small error-msg text-center" *ngIf="email.errors.email">
					  invalid
				  </p>
				</div> 
			</div>
        </div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-lock"></i></span>
				<input type="text" class="form-control" name="password" placeholder="Password" required ngModel #password="ngModel">
				<div *ngIf="!password.valid && password.touched">
					<p  class="small error-msg text-center" *ngIf="password.errors.required">
					  required
					</p>
				</div> 
			</div>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg">Login</button>
        </div>
    </form>
	<div class="text-center">Don't have an account? <a routerLink="/signup">SignUp here</a>.</div>
</div>
